<footer class="bg-light text-dark mt-auto">
    <div class="container-footer py-2">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/beparwah-logo.png" width="290" height="100" alt="Logo">
        </div>
        <div class="col-md-4">
          <h5>Useful Links</h5>
          <ul class="list-unstyled">
            <li><a href="/upcomimg_event">Upcoming Shows</a></li>
            <li><a href="/page2">Past Shows</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Subscribe to Our Newsletter</h5>
          <p>Subscribe to stay tuned for new web design and latest updates. Let's do it! </p>
          <form>
            <div class="form-group d-flex justify-content-between align-items-center">
              <input type="email" class="form-control" placeholder="Enter your email">
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <h5>Connect with Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com/example" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/example" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.youtube.com/example" target="_blank"><i class="fab fa-youtube-square"></i></a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <h5>About Us</h5>
          <p>Our story and a brief description of the company.</p>
        </div>
        <div class="col-md-6">
          <h5>FAQs and Terms</h5>
          <ul class="list-unstyled">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center ">
          <p>© 2024 beparwahband. Powered by beparwahband</p>
        </div>
      </div>
    </div>
  </footer>