<div class="overview-container">
    <div class="image-container">
      <img src="assets\beparwah .png" class="img-fluid rounded" alt="Overview Image">
    </div>
    <div class="social-icons mt-3">
      <a href="https://www.facebook.com/example" target="_blank" class="mr-3">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.snapchat.com/add/example" target="_blank" class="mr-3">
        <i class="fab fa-snapchat-square"></i>
      </a>
      <a href="https://www.instagram.com/example" target="_blank" class="mr-3">
        <i class="fab fa-instagram-square"></i>
      </a>
      <a href="https://www.youtube.com/example" target="_blank">
        <i class="fab fa-youtube-square"></i>
      </a>
    </div>
  </div>
  