.overview-container {
    text-align: center;
  }
  
  .image-container {
    max-width: 100%;
    margin: 0 auto;
  }
  

  
  .social-icons i {
    font-size: 48px; /* Adjust icon size as needed */
    color: #333; /* Adjust icon color as needed */
    margin: 0 10px;
  }
