<div class="overview-container" style="background: linear-gradient(to right, #1c1c1c, #070303) ;color: white">
    <div class="image-container">
      <img src="assets\beparwah .png" class="img-fluid rounded" alt="Overview Image">
    </div>
    <div class="social-icons mt-3">
      <a href="https://www.facebook.com/example" target="_blank" class="mr-3">
        <i class="fab fa-facebook-square" style="background: linear-gradient(to right, #1c1c1c, #070303) ;color: 	#1877F2"></i>
      </a>
      <a href="https://www.snapchat.com/add/example" target="_blank" class="mr-3">
        <i class="fab fa-snapchat-square" style="background: linear-gradient(to right, #1c1c1c, #070303) ;color: #FFFC00"></i>
      </a>
      <a href="https://www.instagram.com/example" target="_blank" class="mr-3">
        <i class="fab fa-instagram-square" style="background: linear-gradient(to right, #1c1c1c, #070303) ;color: #962fbf"></i>
      </a>
      <a href="https://www.youtube.com/example" target="_blank">
        <i class="fab fa-youtube-square" style="background: linear-gradient(to right, #1c1c1c, #070303) ;color: #FF0000"></i>
      </a>
    </div>
  </div>