.bgc{
    background-color: black;
    border-color: white;
    border-width: 3px;
}

.parent-container{
    background: linear-gradient(to right, #1c1c1c, #333333);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.navbar-container{
    background: linear-gradient(to right, #1c1c1c, #333333);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

nav{
    width:100%;
    background: linear-gradient(to right, #1c1c1c, #333333);
}

  .navbar-brand .logo {
    height: 50px;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }

.container{
    background: linear-gradient(to right, #1c1c1c, #333333);
}

body {
    background: linear-gradient(to right, #1c1c1c, #333333);
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-weight: 700;
    color:whitesmoke;
  }
  
  .card {
    background: linear-gradient(to right, #1c1c1c, #333333);
    border-color:none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .container-footer{
    background: linear-gradient(to right, #1c1c1c, #333333);
    margin-top: 2%;
    height: fit-content;
    
  }
  .container-main{
    background: linear-gradient(to right, #1c1c1c, #333333);
    flex: 1;
  overflow-y: auto; 
  }
  .card:hover {
    border-color:white;
    border-width: 1px;
  }

  .date-box {
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .date {
    font-size: 2.5rem;
    margin: 0;
    color: purple;
  }
  
  .month {
    font-size: 1.2rem;
    margin: 0;
    color: whitesmoke;
  }
  
  .event-name {
    font-size: 1.5rem;
    color: whitesmoke;
  }
  
  .event-location, .event-time {
    font-size: 1rem;
    color: whitesmoke;
  }
  
  .btn-primary {
    background-color: black;
    border-color: none;
  }
  
  .btn-primary:hover {
    border-color: purple;
  }
  
  footer .container-footer {
    background-color: black;
    color: whitesmoke;
    margin: 0 auto;
  }

  .social-icons {
    font-size: 24px;
  }
  
  .social-icons a {
    color: #333; 
    margin: 0 10px;
  }
  
  .social-icons a:hover {
    color: #007bff; 
  }
  