<app-header></app-header>

<div class="container-main">
  <div class="text-center py-4">
    <h1 >UPCOMING SHOWS</h1>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="date-box">
            <h2 class="date">27</h2>
            <h4 class="month">JUL</h4>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="event-name">HARMONY FEST</h3>
          <p class="event-location">
            <i class="bi bi-geo-alt"></i> Mumbai &nbsp;&nbsp;&nbsp;
            <i class="bi bi-clock"></i> 5:00pm - 8:00pm
          </p>
          <button class="btn btn-primary" onclick="alert('SUCCESS')">Tickets</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4 ">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="date-box">
            <h2 class="date">30</h2>
            <h4 class="month">JUL</h4>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="event-name">RHYTHM FUSION</h3>
          <p class="event-location">
            <i class="bi bi-geo-alt"></i> Mumbai &nbsp;&nbsp;&nbsp;
            <i class="bi bi-clock"></i> 5:00pm - 8:00pm
          </p>
          <button class="btn btn-primary" onclick="alert('SUCCESS')">Tickets</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4 mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="date-box">
            <h2 class="date">03</h2>
            <h4 class="month">AUG</h4>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="event-name">HARMONY FEST</h3>
          <p class="event-location">
            <i class="bi bi-geo-alt"></i> Mumbai &nbsp;&nbsp;&nbsp;
            <i class="bi bi-clock"></i> 5:00pm - 8:00pm
          </p>
          <button class="btn btn-primary" onclick="alert('SUCCESS')">Tickets</button>
        </div>
      </div>
    </div>
  </div>      
</div>

<app-footer></app-footer>