/* Ensure the subscribe button is next to the input field */
form.d-flex input[type="email"] {
    flex: 1;
    margin-right: 10px;
  }
  

  .social-icons a {
    margin: 0 10px;
    font-size: 1.5em;
    color: #3b5998; /* You can change this to match your theme */
  }

  footer .row {
    margin-bottom: 20px;
  }
  
  footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  